<div id="footer" class="container-fluid bg-dark text-light has-height-md middle-items border-top text-center wow fadeIn">
    <div class="row">
        <div class="col-sm-4">
            <h3>Correo de contacto</h3>
            <P class="text-muted">prueba&#64;prueba</P>
        </div>
        <div class="col-sm-4">
            <h3>Contactanos</h3>
            <P class="text-muted">(123) 456-7890</P>
        </div>
        <div class="col-sm-4">
            <h3>Encuentranos</h3>
            <P class="text-muted">Charcutería Gregoriana <br>
                Edf. Gran Colombia, PB Av. Roosevelt, <br>
                Caracas 1040, Distrito Capital</P>
        </div>
        <div id="map" style="height: 500px; width: 100%;">
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtme10pzgKSPeJVJrG1O3tjR6lk98o4w8&callback=initMap">
        </script>

        </div>

  
    </div>
</div>
<div class="bg-dark text-light text-center border-top wow fadeIn">
    <p class="mb-0 py-3 text-muted small">&copy; Copyright <script>document.write(new Date().getFullYear())</script> reservado por <i class="ti-heart text-danger"></i> Abeljsz</p>
</div>
<script>
    function initMap() {
      // Asegúrate de que el elemento con ID 'map' esté presente
      var mapElement = document.getElementById('map');
      if (mapElement) {
        var map = new google.maps.Map(mapElement, {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      } else {
        console.error("Elemento con ID 'map' no encontrado.");
      }
    }
</script>                